.icon-zibenshichang:before { content: "\e61d"; }

.icon-fuwu:before { content: "\e6d8"; }

.icon-icon-cart:before { content: "\e636"; }

.icon-shouye1:before { content: "\e607"; }

.icon-shezhi:before { content: "\e65b"; }

